[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.6"
djangorestframework = "==3.15.1"
pypi = "==2.1"
pyfcm = "==1.5.4"
firebase-admin = "==6.5.0"
google-auth = "==2.29.0"
requests = "==2.32.2"
gunicorn = "==22.0.0"
celery = "*"
loguru = "*"
pymongo = "*"
redis = "*"
django-markdownx = "*"
requests-toolbelt = "*"
pillow = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
